# Your Twilio Account SID. This can be copy and pasted from https://twilio.com/console
TWILIO_ACCOUNT_SID=
# Your Twilio Auth Tokenm. This can be copy and pasted from https://twilio.com/console
TWILIO_AUTH_TOKEN=
# Your Twilio number. This is used for display purposes. `twilio phone-numbers:list`
TWILIO_NUMBER=  # e.g. +11234567890
# Your Symbl App ID. Get it from: https://platform.symbl.ai
SYMBL_APP_ID=
# Your Symbl App Secret. Get it from: https://platform.symbl.ai
SYMBL_APP_SECRET=
# Symbl API base URL
SYMBL_API_BASE_URL=https://api.symbl.ai

# Mode you want to startup the app in.
# Supported values: receive_call, conference ; Default: receive_call
MODE=conference

# Publicly available Domain of the WebHook URLs that can be called by Twilio.
WEBHOOK_DOMAIN=

AGENT_PHONE=  # e.g. +11234567890
CUSTOMER_PHONE=  # e.g. +11234567890
